body {  
    width: 1600px;
    height: 1880px;
    background: #FFF;
}
/* CAP */
.cap {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFF;    
}
.list {
    list-style: none;
}
/* HEADER */
.webstudio {
    font-family: 'Raleway';
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.625em;
    color: #2196F3;
}
.studio {
    color: #000;
}
.studio_1 {
    color: #FFF;
}
/* Работа */
.job {
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.875em;
    color: #212121;
    display: inline;
}
.job:hover {
    color: #2196F3;
}
/* КНОПКИ */
.buttt:hover {
    background-color: #2196F3;
    color: #FFF;
}
.buttt {
    font-family: roboto;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1em;
    cursor: pointer;
}
/* ФОТКИ */
.work {
    font-family: roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2em;
    color: #212121;
}
.text {
    font-family: roboto;
    font-size: 16px;
    line-height: 1em;
    color: #757575;
}
/* DNO */
.dno {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
}
.street {
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8em;
    color: #FFFFFF;
}
.contact_2 {
    font-family: roboto;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 0.8em;
    color: rgba(255, 255, 255, 0.6);
}
.contact_2:hover {
    color: #2196F3;
}
